<a href="https://colab.research.google.com/github/uzair011/CN5021--practical/blob/main/RegEx_week10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import re

In [3]:
# 1. check if the string starts with "The" and ends with "London".
text = "The rain inLondon"
x = re.search("^The.*London$", text)

if x:
  print("Yes, we have a match.")
else:
  print("No match")

Yes, we have a match.

In [5]:
# 2. Return a list containing every occurrance of "ai".

text2 = "The students of class CN5021 are learning very hard, they are good students."
x2 = re.findall("stu", text2)
x3 = re.findall("asdf", text2)

print("X2: ", x2)
print("X3: ", x3)

X2:  ['stu', 'stu']
X3:  []

In [14]:
# 3. count the white space

text3 = "The class of UEL."
x4 = re.search("\s", text3)

print("Number of spaces in text3 are: ", x4.start())
print("Number of spaces in text3 are ...: ", x4.end())

Number of spaces in text3 are:  3
Number of spaces in text3 are ...:  4

In [16]:
# 4. split the string every white-space character.

text4 = "The class of UEL."
x5 = re.split("\s", text4)


print("Splitted text3: ", x5)

Splitted text3:  ['The', 'class', 'of', 'UEL.']

In [23]:
# 5. Replace white-space with a different character.

text5 = "The class of UEL."
x6 = re.sub("\s", "\n",  text5)
x7 = re.sub("\s", "$$",  text5)


print("Splitted text3: \n", x6)
print("Splitted text3:", x7)

Splitted text3:
 The
class
of
UEL.
Splitted text3: The$$class$$of$$UEL.

In [35]:
# 6. search something...

text6 = "There are 5050 students in the class of UEL."
x8 = re.search("50", text6)


print("Splitted text3: ", x8)

Splitted text3:  <re.Match object; span=(10, 12), match='50'>

In [47]:
# 7. search leatter... print start and the end position.

text7 = "hello, uzair"
x9 = re.findall("he.?o", text7)
x10 = re.findall("he.?l", text7)

print("Text 7:", x9)
print("Text 7:", x10)

Text 7: []
Text 7: ['hell']

In [ ]:
# 8. OR or options ||

text8 = "hello welcome to london ddadada..."

In [48]:
# 9. chec if a specific string is in the text

text9 = "The rain in London"

x12 = re.findall("\AThe", text9)

print(x12)

if x12:
  print("Yes, there is a match.")
else:
  print("Nope...no match")

['The']
Yes, there is a match.

In [52]:
# 10. find no-digit charates...

text10 = "2020 and 2049"

x13 = re.findall("\D", text10)

print(x13)

if x13:
  print("Yes, there is a match.")
else:
  print("Nope...no match")

[' ', 'a', 'n', 'd', ' ']
Yes, there is a match.

In [59]:
# 11. return a match at every word characted (a to z, 0 to 9, and underscore chadracrter)

text11 = "London      @UEL"

x14 = re.findall("\w", text11)
x15 = re.findall("\W", text11)

print(x14)
print(x15)

if x14:
  print("Yes, there is a match.")
else:
  print("Nope...no match")

['L', 'o', 'n', 'd', 'o', 'n', 'U', 'E', 'L']
[' ', ' ', ' ', ' ', ' ', ' ', '@']
Yes, there is a match.

In [61]:
# 12. sets...

# check if the string has any characters between a and n

text12 = "the class of UEL session 2024"

x16 = re.findall("[a-n]", text12)

print(x16)

['h', 'e', 'c', 'l', 'a', 'f', 'e', 'i', 'n']

In [62]:
# 13. check if the string has any 2 digit  number, form 00 to 49

text13 = "UEL chass time 11:45:53"

x17 = re.findall("[0-4][0-9]", text13)

print(x17)

['11', '45']